<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/loginstyle.css">
</head>
<body>
<form action="/login" method="post">
    <table>
    <tr>
        <td><h2>로그인</h2></td>
    </tr>
    <tr>
        <td><input type="text" placeholder="ID" name="login_id"></td>
    </tr>
    <tr>
        <td><input type="password" placeholder=Password name="password"></td>
    </tr>
    <tr>
       <td><input type="checkbox"> 로그인 정보 저장</td>
    </tr>
    <tr>
        <td><input type="submit" value="Sign in" class="btn"></td>
    </tr>
    <tr>
        <td class="join"><a href="/createuser">회원가입</a></td>
    </tr>
    <tr>
        <td class="join"><a href="/ID_find">아이디 찾기</a></td>
    </tr>
    <tr>
        <td class="join"><a href="/PW_find">비밀번호 찾기</a></td>
    </tr>
    </table>
</form>
</body>
</html>
